<div class="container">
  <div class="row mt-5">
    <div class="col-12 col-sm-10 col-lg-8 mx-auto">
      <div class="bg-white shadow py-3 px-5">
        <h1 class="text-center"> <%= @article.title %></h1>
        <hr>
        <p> <%= @article.text %> </p>
      </div>
      <div class="bg-white shadow py-3 px-5 mt-3">
        <h1>Comments:</h1>
        <hr>
        <p>AQUI COLOCAR EL CODGIO PARA VER NUEVOS COMENTARIOS</p>
      </div>

      <div class="bg-white shadow py-3 px-5 mt-3">
        <h1>Comment this article:</h1>
        <hr>

      </div>
    </div>
  </div>

</div>